.login-container {
    min-height: 100vh;
    background-color: #cce0f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-main-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    min-width: 80vw;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 10px 10px #a5b8ce;
    min-height: 80vh;
}

.login-left {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.login-logo-container {
    padding: 10px 0px 0px 15px;
}

.login-logo {
    height: 60px;
}

.login-welcome-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    column-gap: 8px;
    justify-content: flex-start;
}

.login-welcome-container h2 {
    font-size: 20px;
}

.login-input-container:not(:first-child) {
    margin-top: 20px;
}

.login-button-container {
    margin-top: 30px;
    width: 100%;
}

.login-field-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-field-main-container {
    width: 70%;
}

.login-right::before {
    content: "";
    background: url("../assets/login.jpg");
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    clip-path: circle(farthest-side at 100% 25%);
    background-position: 10px center;
    background-size: cover;
}

.login-right {
    position: relative;
    width: 50%;
    z-index: 1;
    display: flex;
    overflow: visible;
    flex-direction: column;
}

.login-right-login {
    position: absolute;
    align-self: flex-end;
    margin: 10px 15px;
    z-index: 5;
}

.login-right-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

/* .login-right-image {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    border-bottom-left-radius: 5px;
    filter: blur(5);
} */

.login-signup-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
    display: none;
}

.login-signup-link p {
    color: #5a5a5a;
}

@media screen and (max-width: 995px) {
    .login-right {
        display: none;
    }

    .login-left {
        width: 100%;
    }

    .login-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0px 0px 0px;
    }   

    .login-logo {
        height: 100px;
    }

    .login-field-main-container {
        width: 80%;
    }

    .login-welcome-container {
        width: 80%;
    }

    .login-signup-link {
        display: flex;
    }
}

@media screen and (max-width: 380px) { 
    .login-main-container {
        width: 100%;
    }
}
